[submodule "tmux"]
	path = tmux
	url = https://github.com/tlvince/tmux-config.git
[submodule "git"]
	path = git
	url = http://github.com/tlvince/git-config.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/tlvince/zsh-config.git
[submodule "shell"]
	path = shell
	url = https://github.com/tlvince/shell-config.git
[submodule "osx"]
	path = osx
	url = http://github.com/tlvince/osx-config.git
[submodule "vim"]
	path = vim
	url = https://github.com/tlvince/vim-config.git
[submodule "mutt/.mutt"]
	path = mutt/.mutt
	url = https://github.com/tlvince/mutt-config.git
